@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Httpclient
@inject NavigationManager Navigationmanager
@using PizzaTuto.Data
@using PizzaTuto.Services


@inject OrderState orderState
@inject PizzaSalesState SalesState


<PageTitle>Pizza</PageTitle>


<div class="container">
    <div class="row">
        <div class="col-6">
 <div class="card">
                 <h5 class="card-header text-start">My favorite pizza is: <span class=" ps-3 text-primary">@favoritePizza</span></h5>
                 <h5 class="card-header text-end">My favorite pizza is: <span class=" ps-3 text-primary">@birthdate</span></h5>
            <div class="card-body">
                <p class="card-text">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" @bind-value="favoritePizza" @bind-value:event="oninput" id="floatingInput" placeholder="Margherita" >
                        <label for="floatingInput">Enter your favorite pizza:</label>
                    </div>
                </p>

                <h5>Order a pizza for your birthday!</h5>

                <p>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" @bind="birthdate" @bind:format="dd-MM-yyyy" id="floatingInput" placeholder="dd-MM-yyyy" >
                        <label for="floatingInput"> Enter your birth date::</label>
                    </div>
                </p>

            </div>
        </div>
        </div>
       
    </div>
</div>

<h3 class="text-center py-5">Pizza Special</h3>


<div class="container text-center">
    <div class="row d-flex justify-content-center">
            <div class="col-md-4">
            <ToppingPizza Topping="@honygoatpizza" />
             </div>
             <div class="col-md-4">
            <ToppingPizza Topping="@veggiePizza" />
             </div>
              <div class="col-md-4">
            <ToppingPizza Topping="@meatPizza" />
          </div>
     
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p>Today, we've sold this many pizzas: @SalesState.PizzasForToday</p>
        
@* <button @onclick="ByNow">Buy a Pizza</button> *@
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        @if (pizzaSpecials != null)
        {
            @foreach (var special in pizzaSpecials)
            {
                <div class="col-md-4 mb-3">
                    <div class="card h-100">
                        <li @onclick="@(() => orderState.ShowConfigurePizzaDialog(special))">
                        <img src="@special.Image" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">@special.Name</h5>
                            <p class="card-text">@special.Description</p>
                            <span class="badge rounded-pill bg-primary">@special.GetFormattedBasePrice() €</span>
                        </div>
                        </li>
                    </div>
                </div>
            }
        }
    </div>
</div>

  @if (orderState.ShowingConfigureDialog)
    {
        <ConfigurePizzaDialog 
        Pizza="orderState.ConfiguringPizza"
        cancelPrice="orderState.CancelConfigurePizzaDialog"
        confirmPrice="orderState.ConfirmConfigurePizzaDialog" />
    }

@code {

    private List<Data.PizzaSpecial> pizzaSpecials = new List<Data.PizzaSpecial>();

    @* Pizza configuringPizza; *@
    @* bool showingConfigureDialog; *@

    protected override async Task OnInitializedAsync()
    {

        pizzaSpecials = await Httpclient.GetFromJsonAsync<List<Data.PizzaSpecial>>(Navigationmanager.BaseUri + "pizzaspecials");
        StateHasChanged();
    
    }



        private Data.ToppingPizza honygoatpizza = new Data.ToppingPizza
    {
        Name = "Hony goat pizza",
        Ingredients = "1 log of Sainte-Maure Savoine goat’s cheese ,1 pizza dough (or puff pastry),Honey,Clotted cream, Basil",
        IsVegetarian = false,
        ImageTopping = "img/pizzaSpicial/spicial1.jpeg"
    };

    private Data.ToppingPizza veggiePizza = new Data.ToppingPizza
    {
        Name = "Veggie Special",
        Ingredients = "Fresh vegetables, Tomato sauce, Mozzarella cheese",
        IsVegetarian = true,
        ImageTopping = "img/pizzaSpicial/spicial2.jpeg"
    };

    private Data.ToppingPizza meatPizza = new Data.ToppingPizza
    {
        Name = "Meat Lovers Special",
        Ingredients = "Pepperoni, Sausage, Ham, Tomato sauce, Mozzarella cheese",
        IsVegetarian = false,
        ImageTopping = "img/pizzaSpicial/spicial3.jpeg"
    };

    private void ByNow()
    {
        SalesState.PizzasForToday++;
    }


   private string favoritePizza { get; set; } = "Margherita";
   private DateTime birthdate { get; set; } = new(2000, 1, 1);


}
